$primary-color: #007bff;
$primary-hover-color: #0056b3;
$black-color: #333;
$background-color: #ffffff;
$border-color: #e4e4e4;
$box-shadow-color: rgba(0, 0, 0, 0.2);

$card-bg: #fff;
$card-border: 1px solid #ccc;
$card-border-radius: 5px;
$box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
